{{#each user}}
<div>
  <h3>Welcome!</h3>
  <p>First Name: {{this.first_name}}</p>
  <p>Last Name: {{this.last_name}}</p>
  <p>Email: {{this.email}}</p>
  <p>Age: {{this.age}}</p>
</div>
{{/each}}


{{#each products}}
<div>
  <h3>{{this.title}}:</h3>
  <p>Price {{this.price}}</p>
  <p>Stock {{this.stock}}</p>
</div>
{{/each}}
