<div>
    <h4>ID:</h4> <p id="id">{{_id}}</p>
    <h4>First Name:</h4> <p>{{first_name}}</p>
    <h4>Last Name:</h4> <p>{{last_name}}</p>
    <h4>Email:</h4> <p>{{email}}</p>
    <h4>Role:</h4> <p>{{role}}</p>
    <button type="button" id="btnChangeRole">Change Role</button>
    <button type="button" id="btnDelete">Delete user</button>
</div>

<script src="/js/user.js"></script>